<section id="footer" class="section bg-gray">
  <section class="container {{ grid_size }}">
    {% include 'partials/simplesearch_searchbox.html.twig' %}
    <p>
    • <a href="{{home_url}}">HSB Brf Guldberget</a> 
    • <a href="{{page.find('/villkor').url}}"> Villkor</a> 
    • <a href="{{page.find('/gdpr').url}}"> Information om behandling av personuppgifter, cookies m m </a>
    </p>
  </section>
	<section class="container {{ grid_size }}">
<div id="fb-root"></div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v7.0&appId=2689927647929899&autoLogAppEvents=1" nonce="DrxuqwmA"></script>		
<p>
<div class="fb-page" data-href="https://www.facebook.com/brfguldberget/" data-tabs="" data-width="380" data-height="70" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/brfguldberget/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/brfguldberget/">HSB BRF Guldberget i Göteborg</a></blockquote>
</div>		
</p>
	</section>
</section>